.wrapper {
  display: flex;
  min-height: 60vh;
  width: min(600px, 100%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.query {
  padding: 10px;
}

.wrapper code {
  font-size: 24px;
  font-family: "Fira Code";
  position: relative;
  white-space: nowrap;
}
.wrapper code::after {
  content: "";
  background: var(--main-color);
  position: absolute;
  top: 0;
  right: -5px;
  width: 2px;
  height: 100%;
  animation: blink 1.2s infinite forwards;
}
@keyframes blink {
  50% {
    background: transparent;
  }
  0%,100% {
    background: var(--main-color);
  }
}
.output {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--background);
  border: 1px solid var(--dark-color);
  color: var(--light-color);
  font-family: "Fira Code";
  font-size: 18px;
  position: relative;
  z-index: 100;
  /* box-shadow: var(--main-color) 0px 0px 100px; */
  animation: shadowAnimation 5s infinite;
}
@keyframes shadowAnimation {
  0%, 100% {
    box-shadow: var(--dark-color-a) 0px 10px 80px;
  border: 1px solid var(--dark-color-a);
  color: var(--light-color);
  }
  50% {
    box-shadow: var(--foreground-a) 0px 10px 80px;
  border: 1px solid var(--foreground-a);
  color: var(--foreground);
  }
}
.hidden {
  pointer-events: none;
}
.shown {
  pointer-events: all;
}
