.wrapper {
  display: flex;
  min-height: 60vh;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes blink {
  50% {
    background: transparent;
  }

  0%,
  100% {
    background: var(--main-color);
  }
}

.output {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--background);
  border: 1px solid var(--dark-color);
  color: var(--light-color);
  font-family: "Fira Code";
  font-size: 18px;
  position: relative;
  z-index: 100;
  animation: shadowAnimation 5s infinite;
  margin: 30px;
  max-width: 600px;
}

@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: var(--dark-color-a) 0px 10px 80px;
    border: 1px solid var(--dark-color-a);
    color: var(--light-color);
  }

  50% {
    box-shadow: var(--foreground-a) 0px 10px 80px;
    border: 1px solid var(--foreground-a);
    color: var(--foreground);
  }
}

.hidden {
  pointer-events: none;
}

.shown {
  pointer-events: all;
}

@media screen and (max-width: 700px) {
  /* .wrapper { */
  /*   display: flex; */
  /*   min-height: 60vh; */
  /*   width: min(600px, 100%); */
  /*   flex-direction: column; */
  /*   justify-content: flex-start; */
  /*   align-items: center; */
  /* } */
}
