.wrapper {
  display: flex;
  width: min(100%, 800px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.descriptionWrapper {
  width: 95%;
}

.selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}

.selector .active {
  background: linear-gradient(to right,
      var(--main-color) 0%,
      var(--foreground) 100%);
  background-clip: text;
  color: transparent;
  opacity: 1;
}

.selector p {
  margin: 0;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.selector>div {
  width: fit-content;
  position: relative;
  cursor: pointer;
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.selected {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,
      var(--main-color) 0%,
      var(--foreground) 100%);
}

.cardWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

.card {
  border: 1px solid var(--dark-color-a);
  box-shadow: black 5px 5px 10px;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  padding: 0px 15px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  z-index: 2;
  overflow: hidden;
}
