.wrapper {
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  max-width: 1000px;
  margin: 0 50px;
}
.nav > div {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: absolute;
  border: 1px solid var(--dark-color-a);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 25px;
  top: 50%;
  z-index: 1;
  font-weight: 700;
  transform: translate(0%, -50%);
}
.nav > div::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: var(--dark-color);
  transition: 0.3s ease-out, background-color 0.1s ease-in-out;
  box-shadow: transparent;
}
.nav > div:hover::after {
  opacity: 1;
  box-shadow: var(--dark-color) 0px 10px 100px;
}
.nav > div:first-child {
  left: -35px;
  font-size: 32px;
}
.nav > div:last-child {
  font-size: 32px;
  right: -35px;
}
.bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-color-a);
  border-radius: 20px;
  overflow: hidden;
}
.top {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 32px;
  font-weight: 700;
}
.top > p {
  font-family: "Fira Code";
  height: 100%;
  pointer-events: none;
  font-size: 32px;
  padding: 5px 30px;
  margin: 0px;
  font-weight: 600;
}
.tick {
  height: 20px;
  right: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: var(--main-color) 0px 0px 20px;
  top: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  aspect-ratio: 1/1;
}
.tick::after {
  content: "";
  height: 12px;
  border-radius: 50%;
  background-color: var(--background);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;

  position: absolute;
  aspect-ratio: 1/1;
}
.active::after {
  height: 0px;
}

.child {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.drag {
  display: flex;
  flex-direction: row;
}
.card {
  border-top: 1px solid var(--dark-color-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  height: fit-content;
  padding-bottom: 20px;
  transition: inherit;
}
.card > img {
  max-width: 90%;

  max-height: 800px;
  object-fit: cover;
  border-radius: 20px;
  pointer-events: none;
}
.card > p {
  font-family: "Fira Code";
  margin: 20px;
  font-size: 20px;
  word-break: break-word;
  pointer-events: none;
}

.pipsWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pips {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pip {
  background-color: transparent;
  height: 10px;
  border: var(--main-color) 3px solid;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.activePip {
  --length: 1;
  --current: 0;
  position: absolute;
  pointer-events: none;
  background-color: var(--main-color);
  left: calc((100% + 5px) / var(--length) * var(--current));
  transition: all cubic-bezier(0.17,0.84,0.5,1) 0.8s;
  box-shadow: var(--main-color) 0px 0px 15px;
}

.closed {
  max-height: 0;
}
