.wrapper {
  margin: 30px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 600px);
}

.link {
  flex-grow: 1;
}

.comment {
  font-weight: var(--font-weight);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wide {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.widest {
  grid-column-start: 1;
  grid-column-end: span 3;
}
