.wrapper {
  margin: 30px;
  max-width: fit-content;
  width: min(100%, 600px);
}
.comment {
  font-family: "Victor Mono";
  font-weight: var(--font-weight);
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wide {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.widest {
  grid-column-start: 1;
  grid-column-end: span 3;
}
