/* @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Major+Mono+Display&family=Pacifico&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&family=Russo+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@font-face {
  font-family: "MajorMono";
  src: url("/MajorMono.ttf");
}

:root {
  /* Colors */
  --main-color: #fd9195;
  --dark-color: #d56266;
  --dark-color-a: #d5626699;
  --light-color: #ffacaf;
  --background: #0b0a0a;
  --backgroundAccent: #333333;
  --foreground: #f8f5ba;
  --foreground-a: #f8f5ba99;
  --font-title: "MajorMono";
}

.wrapper {
  height: fit-content;
  transform: translateZ(0);
  margin: 0;
  min-height: 100%;
  color: var(--main-color);
  background-color: var(--background);
  overflow-x: hidden;
  /* background-size: 40px 40px; */
  /* background-image: radial-gradient(rgb(253 145 149 / 10%) 10%, transparent 10%); */
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--foreground);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--foreground);
  filter: blur(50px);
  height: 100%;
  width: 100%;
  transition: 0.2s ease-out;
}

svg {
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 44px;
}

.box {
  flex-grow: 1;
  flex-direction: row;
  padding: 15px 25px;
  font-family: "Fira Code";
  font-size: 24px;
  overflow-wrap: break-word;
  text-align: center;
  border: 1px solid var(--dark-color-a);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.box::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: var(--dark-color);
  transition: 0.3s ease-out, background-color 0.1s ease-in-out;
  box-shadow: transparent;
}
.box:hover::after {
  opacity: 1;
  box-shadow: var(--dark-color) 0px 10px 100px;
}
/* .box:active::after { */
/*   background-color: var(--foreground); */
/*   box-shadow: var(--foreground-a) 0px 10px 100px; */
/* } */

footer {
  overflow: hidden;
  border-top: 1px solid var(--dark-color-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: "Fira Code";
  font-size: 16px;
  padding: 30px;
}
