.title {
  display: grid;
  grid-template-columns: 9fr 10fr;
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 20px;
  background-image: url("/bg3840.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: 80vh; */
  /* background-position: center; */
}
.title > * {
  min-width: 0;
}
.title h1 {
  margin: 10px;
  /* color: var(--light-color); */
  color: transparent;
  /* text-shadow: var(--background) 0 0 15px; */
  display: inline-block;
  height: 60px;
  width: 100%;
  inline-size: 100%;
  overflow-wrap: break-word;
}
.title > div {
  display: flex;
  max-width: 90%;
  height: 100%;
  background: linear-gradient(to right, var(--main-color) 0%, var(--foreground) 100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-self: flex-start;
}
.title > img {
  border-radius: 20px;
  justify-self: flex-end;
  /* border: 2px solid var(--secondary-color); */
  transition: 0.3s ease-in-out; 
  box-shadow: none;
  animation: float ease-in-out 4s infinite;
}
@keyframes float {
  50% {
    translate: 0 8px;
  }
  0%,100% {
    translate: 0 0px;
  }
}

.title > img:hover {
  rotate: 10deg;
  scale: 1.15;
  box-shadow: black 10px 10px 10px;
}

.aboutMe {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
  background-color: var(--background);
  z-index: 10;
}
