.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title h1 {
  margin: 10px;
  text-shadow: var(--secondary-color) 0 0 15px;
}
.title > div {
  display: flex;
  flex-direction: column;
  width: 400px;
  white-space: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.title > img {
  border-radius: 20px;
  /* border: 2px solid var(--secondary-color); */
  transition: 0.3s ease-in-out; 
  box-shadow: none;
}

.title > img:hover {
  rotate: 10deg;
  scale: 1.15;
  box-shadow: black 10px 10px 10px;
}
