.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("/bg3840.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: 80vh; */
  /* background-position: center; */
}
.title h1 {
  margin: 10px;
  color: var(--light-color);
  text-shadow: #000000 0 0 15px;
}
.title > div {
  display: flex;
  flex-direction: column;
  width: 400px;
  white-space: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.title > img {
  border-radius: 20px;
  /* border: 2px solid var(--secondary-color); */
  transition: 0.3s ease-in-out; 
  box-shadow: none;
  animation: float ease-in-out 4s infinite;
}
@keyframes float {
  50% {
    translate: 0 8px;
  }
  0%,100% {
    translate: 0 0px;
  }
}

.title > img:hover {
  rotate: 10deg;
  scale: 1.15;
  box-shadow: black 10px 10px 10px;
}

.aboutMe {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
  background-color: var(--background);
  z-index: 10;
}
