.query {
  padding: 10px;
}

.query code {
  font-family: "Victor Mono";
  font-weight: var(--font-weight);
  position: relative;
  white-space: nowrap;
}

.l {
  font-size: 28px;
}

.m {
  font-size: 24px;
}

.s {
  font-size: 18px;
}

.query code::after {
  content: "";
  position: absolute;
  background: var(--foreground);
  top: 0;
  right: -5px;
  width: 2px;
  height: 100%;
  animation: blink 1.2s infinite forwards;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  0%,
  100% {
    opacity: 1;
  }
}
